:root {
  --bg-primary-light: #dbc8ac;
  --bg-secondary-light: #eddbc0;
  --bg-primary-dark: #323232;
  --bg-secondary-dark: #414141;
  --red-primary: #dd5353;
  --clr-font-black: #323232;
  --clr-font-white: #eaeaea;
  --font-step--2: clamp(0.72rem, calc(0.69rem + 0.14vw), 0.80rem);
  --font-step--1: clamp(0.90rem, calc(0.87rem + 0.17vw), 1.00rem);
  --font-step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --font-step-1: clamp(1.41rem, calc(1.35rem + 0.27vw), 1.56rem);
  --font-step-2: clamp(1.76rem, calc(1.69rem + 0.34vw), 1.95rem);
  --font-step-3: clamp(2.20rem, calc(2.11rem + 0.42vw), 2.44rem);
  --font-step-4: clamp(2.75rem, calc(2.64rem + 0.53vw), 3.05rem);
  --font-step-5: clamp(3.43rem, calc(3.30rem + 0.66vw), 3.82rem);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  color-scheme: light dark;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  color: var(--clr-font-black);
}

p {
  font-size: var(--font-step--1);
}

img {
  user-select: none;
}

.container {
  background-color: var(--bg-primary-light);
  min-height: 100vh;
  min-height: 100lvh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
}
.h-screen {
  height: 100vh;
  height: 100lvh;
  overflow: hidden;
}
.w-screen {
  width: 100vw;
  width: 100lvw;
  overflow: hidden;
}
.header {
  width: 100%;
  box-sizing: content-box;
  height: 90vh;
  background-color: var(--bg-secondary-light);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-img {
  width: min(500px, 70%);
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav-bar__img {
  width: 100%;
}

.nav-bar__text {
  font-size: var(--font-step-1);
  font-weight: 600;
}

.nav-bar__link {
  width: max(200px, 20%);
}


.width-full {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.title__text {
  font-weight: 700;
  font-size: var(--font-step-5);
}
.subtitle__text {
  font-weight: 500;
  font-size: var(--font-step-3);
}

.buttons-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: space-around;
  width: 80%;
}
.popcorn-card {
  min-width: 10rem;
  position: relative;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  text-decoration: none;
  transition: transform 0.5 ease;
}

.popcorn-card:hover {
  transform: scale(1.1);
}


.popcorn-card__img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-90%);
  z-index: 1;
}

.popcorn-card__text {
  color: var(--clr-font-white);
  background-color: var(--red-primary);
  padding: 1rem;
  z-index: 9;
  width: 100%;
  position: relative;
  text-align: center;
}

.img-carrousel {
  overflow: hidden;
  position: relative; 
  width: 15%; 
  min-height: 100vh;
  min-height: 100lvh;
}

.cards-container {
  overflow-y: auto;
  width: 100%;
  height: 70vh;
  height: 80svh;
  background-color: var(--bg-secondary-light);
  padding: 20px;
}

.movie-card {
  background-color: var(--bg-primary-light);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.movie-card__poster {
  width: 10rem;
}

.movie-card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  width: min(300px, 70%);
  height: 100%;
}

.movie-card__title {
  font-size: var(--font-step-1);
  text-align: center;
}

.tmdb-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
}

.tmdb-card__poster {
  width: 100%;
}

.tmdb-card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tmdb-card__title {
  font-size: var(--font-step-0);
}

.text-black {
  color: var(--bg-primary-dark)
}

.movie-fly {
  width: min(200px, 100%);
  transition: transform 18s linear;
}

.trust-us__container {
  display: flex; 
  width: 100%; 
  align-items: center; 
  justify-content: center;
  gap: 5%;
}

.search-section {
  width: min(800px, 100%); 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  gap: 20px
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search-input {
  width: min(350px, 70%)
}

.search-button {
  background-color: var(--red-primary);
  color: var(--clr-font-white);
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
}

.search-button:hover{
  filter: brightness(1.75);
}
.search-button:active{
  filter: brightness(0.8);
}

.rating-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: var(--red-primary) 10px solid;
  display: grid;
  place-items: center;
  font-weight: bold;
}

.rating-circle p {
  font-size: var(--font-step-1);
}

.movie-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.movie-header__img {
  flex-grow: 2;
  max-width: min(400px, 40%);
}
.movie-header__title {
  font-size: var(--font-step-3);
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 40px;
  min-width: 60%;
  padding: 50px;
}

.header-content__principal {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.crew-container {
  width: 100%;
  height: 300px;
  display: flex;
  gap:40px;
  align-items: center;
  justify-content: space-between;
}

.cast-section {
  width: 70%;
}
.director-section {
  width: 30%;
}
.crew-section {
  height: min(300px, 100%);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  gap: 10px;
}

.crew-title {
  text-align: left;
}

.characters-container {
  display: flex;
  width: 100%;
  gap: 30px;
  white-space: nowrap;
  flex-direction: row;
  overflow-x: auto;
}

.character-card {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character-card__img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}

.character-card__text {
  background-color: var(--bg-secondary-light);
  border-radius: 10%;
}

.genres-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.genre {
  background-color: rgba(221, 83, 83, 0.5);
  border-color: var(--red-primary);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}

.movie-recommendations {
  width: 100%;
  display: flex; 
  flex-direction: row;
  gap: 16px; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center;
  padding: 10px;
}

.movie-recommendations > * {
  flex: 1 1 clamp(300px, 30%, 575px);
}
.recommendation-graphic {
  height: 100%;
  width: max(300px, 50%);
}

.recommendation__img {
  min-width: 125px;
  width: max(125px, 30%);
}

.movie-reccomendations__item {
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  max-width: 575px;
  border-bottom: 3px solid var(--red-primary);
}

.movie-recommendations__name {
  font-size: var(--font-step-0);
  text-align: center;
}

.movie-recommendations__images {
  width: 100%;
  display: flex; 
  align-items: center; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 575px;
}

.tmdb-recommendations {
  margin-top: 40px;
  display: flex; 
  flex-direction:row; 
  overflow-x: auto;
  width: 100%; 
  gap: 30px;
}

.credits-header {
  width: 100%;
}

.person-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.person-card__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.person-card__name {
  color: var(--red-primary)
}

.person-card__img {
  max-width: 100%;
  width: 100px;
  object-fit: cover;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.tmdb-logo {
  width: clamp(100px, 80px + 40vw, 600px)
}

.tmdb-logo__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(10px, 20px + 1vw, 600px);
}

.credits__section {
  margin-bottom: 50px;
}


@media (prefers-color-scheme: dark) {
  * {
    color: var(--clr-font-white);
  }
  a {
    color: var(--clr-font-white);
  }
  .container {
    background-color: var(--bg-primary-dark);
  }
  .header {
    background-color: var(--bg-secondary-dark);
  }
  .popcorn-card {
    /* box-shadow: rgb(237, 237, 237, 0.25) 0px 20px 30px -10px; */
    box-shadow: rgb(237, 237, 237, 0.25) 0px 25px 50px -12px;
  }
  .character-card__text {
    background-color: var(--bg-secondary-dark);
  }
  .cards-container {
    background-color: var(--bg-secondary-dark);
  }
  
  .movie-card {
    background-color: var(--bg-primary-dark);
  }
}


@media screen and (max-width: 720px){
  .movie-header {
    flex-direction: column;
  }
  .movie-header__img {
    min-width: 70%;
  }
  .crew-container {
    flex-direction: column;
    height: 100%;
  }
  .crew-section {
    width: 100%;
  }
  .movie-recommendations__images {
    flex-wrap: wrap;
  }
}