{% macro movie_card(id, title, year='', poster_path="../static/img/no_poster.svg") %}

<div class="movie-card">
  <img
    {% if poster_path %}
      src="{{poster_path}}"
    {% else %}
      src="../static/img/no_poster.svg"
    {% endif %}
    alt="Movie cover" class="movie-card__poster" />

  {% if id %}
  <a class="movie-card__text" href="/movie/{{id}}">
  {% else %}
  <a class="movie-card__text" href="#">
  {% endif %}
    <p class="movie-card__title">{{title}}</p>
    <p class="movie-card__year">{{year}}</p>
  </a>
</div>

{% endmacro %}
