{% macro navbar() %}
<nav class="nav-bar">
  <a href="/" class="width-full">
      <picture class="width-full">
      <source
        srcset="../static/img/logo_light.svg"
        ,
        media="(prefers-color-scheme: light)"
      />
      <img
        class="nav-bar__img"
        src="../static/img/logo_dark.svg"
        alt="Logo"
      />
    </picture>
    </a>
</nav>

{% endmacro %}
