{% extends "base.html" %}
{% block body %}
<div class="container">
<form action="" x-data="{year: '2023'}">
    <label for="genres">Choose a genre</label>
    <input type="text" list="genres-select" name="genres">
    <datalist  id="genres-select">
        {% for genre in genres %}
            <option value="{{genre}}">{{genre}}</option>
        {% endfor %}
    </datalist>
    <div class="" style="display: flex; flex-direction: row; align-items: center; justify-content: center">
        <p>1902</p>
        <div class="" style="display: flex; flex-direction: column; align-items: center; justify-content: center">
            <input x-model="year" type="range" min="{{min_year}}" max="{{max_year}}" class="slider" id="year-selector">
            <p x-text="year"></p>
        </div>
        <p>2023</p>
    </div>
</form>
</div>
{% endblock body %}