{% extends "base.html" %} {% from '_buttons.html' import popcorn with context %}
{% block body %}
<div class="container">
  <header class="header">
    <div class="title-container">
      <picture class="title-img">
        <source
          srcset="../static/img/logo_light.svg"
          ,
          media="(prefers-color-scheme: light)"
        />
        <img
          class="width-full"
          src="../static/img/logo_dark.svg"
          alt="logo"
        />
      </picture>
      <h1 class="title__text">FILMANIN</h1>
      <p class="subtitle__text">Movie recommendation system</p>
    </div>
    <div class="buttons-container">
      {{ popcorn('Search movie', link='/trust_us') }}
      {{ popcorn('Credits', link='/credits') }}
    </div>
  </header>
</div>
{% endblock body %}
