{% extends "base.html" %} 
{% from '_navbar.jinja2' import navbar with context %}
{%block body %}
<div class="container">
{{ navbar() }}
<header class="movie-header">
  <img
    {% if film_data['poster_path'] %}
      src="{{film_data['poster_path']}}"
    {% else %}
      src="../static/img/no_poster.svg"
    {% endif %}
    alt="Film poster"
    class="movie-header__img"
  />
  <div class="header-content">
    <div class="header-content__principal">
      <h1 class="movie-header__title">{{ film_data['title'] }}</h1>
      <p>{{film_data['year']}}</p>
    </div>
    <div class="genres-container">
      {% for genre in film_data['genres'] %}
        <p class="genre">{{genre}}</p>
      {% endfor %}
    </div>
    <div class="rating-container">
      <h2 class="subtitle">Rating ({{film_data['vote_count']}} votes)</h2>
      <div class="rating-circle">
        <p>{{film_data['vote_average']}}</p>
      </div>
    </div>
    <div>
      <h2>Overview</h2>
      <p>{{film_data['overview']}}</p>
    </div>
  </div>
</header>
<div class="crew-container ">
  <section class="cast-section crew-section">
    <h2 class="crew_title" >Cast</h2>
    <ul class="characters-container">
    {% for character in film_data['cast_dict'] %}
      <li class="character-card">
          <img
          {% if character['profile_path'] %}
            src="https://image.tmdb.org/t/p/w500{{character.profile_path}}"
          {% else %}
            src="../static/img/people_poster.svg"
          {% endif %}
            alt="Actor image"
            class="character-card__img"
          />
        <div class="character-card__text">
          <p>{{character.name}}</p>
          <p>{{character.character}}</p>
        </div>
      </li>
    {% else %}
      <li>No cast found</li>
    {% endfor %}
    </ul>
  </section>
  <section class="director-section crew-section">
    <h2 class="crew_title" >Director</h2>
      <ul class="characters-container">
      {% for character in film_data['director_dict'] %}
        <li class="character-card">
            <img
            {% if character['profile_path'] %}
              src="https://image.tmdb.org/t/p/w500{{character.profile_path}}"
            {% else %}
              src="../static/img/people_poster.svg"
            {% endif %}
              alt="Actor image"
              class="character-card__img"
            />
          <div class="character-card__text">
            <p>{{character.name}}</p>
          </div>
        </li>
      {% else %}
        <li>Not found</li>
      {% endfor %}
    </ul>
  </section>
</div>
<section>
  <h2>Recommendations</h2>
  <div class="movie-recommendations">
  {% for movie in recommendations %}
    <div class="movie-reccomendations__item">
        <p class="movie-recommendations__name">{{movie['title']}}</p>
        <div class="movie-recommendations__images">
          <a href="/movie/{{movie['id']}}" class="recommendation__img">
            <img src="{{movie['poster_path']}}" alt="Poster from {{movie['title']}}" width="100%" >
          </a>
          <div class="reccomendation" >
            <canvas id="chart-{{ movie['id'] }}" ></canvas>
          </div>
        </div>
    </div>
  {% endfor %}
  </div>
</section>
<section style="width: 100%">
  <h2>TMDB Recommendations</h2>
  <button
        id="search-button"
        class="search-button"
        type="submit"
        hx-get="/recommendation/{{film_data['id']}}"
        hx-swap="innerHTML"
        hx-target="#tmdb-recommendations"
    >
        Load Data
  </button>
  <div id="tmdb-recommendations" class="tmdb-recommendations" style=""></div>
</section>

</div>
<script>
    {# let data = {{ chartJSON | safe }}
    const ctx = document.getElementById("chart").getContext('2d');
    let myChart = new Chart(ctx, data); #}
    const movies = {{recommendations | safe}}
    for (movie of movies){
        let data = JSON.parse(movie.chart)
        const ctx = document.getElementById(`chart-${movie.id}`).getContext('2d');
        let myChart = new Chart(ctx, data);
    }
</script>

{% endblock body %}