{% extends "base.html" %} {% block title %} Filmanatic {% endblock title %}
{% from '_navbar.jinja2' import navbar with context %}
{%block body %}
{{ navbar() }}
<header class="movie-header">
  <img
    src="{{film_data['poster_path']}}"
    alt="Film poster"
    class="movie-header__img"
  />
  <div class="header-content">
    <h1>{{ film_data['title'] }}</h1>
    <p>{{film_data['year']}}</p>
    <div class="genres-container">
      {% for genre in film_data['genres'] %}
        <p class="genre">{{genre}}</p>
      {% endfor %}
    </div>
    <div class="rating-container">
      <h2 class="subtitle">Rating</h2>
      <div class="rating-circle">
        <p>{{film_data['vote_average']}}</p>
      </div>
    </div>
    <div>
      <h2>Overview</h2>
      <p>{{film_data['overview']}}</p>
    </div>
  </div>
</header>
<div class="crew-container">
  <section class="cast-section">
    <h2>Cast</h2>
    <div class="characters-container">
    {% for character in film_data['cast_dict'] %}
      <div class="character-card">
        <img src="https://image.tmdb.org/t/p/w500{{character.profile_path}}" alt="" class="character-card__img">
        <div class="character-card__text">
          <p>{{character.name}}</p>
          <p>{{character.character}}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  </section>
  <section class="director-section">
    <h2>Director</h2>
      <div class="characters-container">
      {% for character in film_data['director_dict'] %}
        <div class="character-card">
          <img src="https://image.tmdb.org/t/p/w500{{character.profile_path}}" alt="" class="character-card__img">
          <div class="character-card__text">
            <p>{{character.name}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
<section>
  <h2>Recommendations</h2>
  <div style="width: 100%; display: flex; gap: 16px; flex-wrap: wrap; align-items: center; justify-content: center; ">
  {% for movie in recommendations %}
    <div class="reccomendations" style="width: 30%; display: flex; align-items: center; justify-content: center">
        <a href="/movie/{{movie['id']}}" style="width: 30%;">
          <img src="{{movie['poster_path']}}" alt="Poster from {{movie['title']}}" width="100%" >
        </a>
        <div class="reccomendations" style="width: 70%;">
          <canvas id="chart-{{ movie['id'] }}" ></canvas>
        </div>
    </div>
  {% endfor %}
  </div>
</section>
<section style="width: 100%">
  <h2>TMDB Recommendations</h2>
  <button
        id="search-button"
        class=""
        type="submit"
        hx-get="/recommendation/{{film_data['id']}}"
        hx-swap="innerHTML"
        hx-target="#tmdb-recommendations"
    >
        Load Data
  </button>
  <div id="tmdb-recommendations" style="display: flex; flex-direction:row; overflow-x: auto; width: 100%; gap: 30px;"></div>
</section>

<script>
    {# let data = {{ chartJSON | safe }}
    const ctx = document.getElementById("chart").getContext('2d');
    let myChart = new Chart(ctx, data); #}
    const movies = {{recommendations | safe}}
    for (movie of movies){
        let data = JSON.parse(movie.chart)
        const ctx = document.getElementById(`chart-${movie.id}`).getContext('2d');
        let myChart = new Chart(ctx, data);
    }
</script>

{% endblock body %}