{% extends "base.html" %}
{% block body %}


<form id="search-form"
    hx-get="/recommendation"
    hx-swap="innerHTML"
    hx-target="#movies"
    class="">
    <input type="number" id="search-input" class="" name="movie_id">
    <button
            id="search-button"
            class=""
            type="submit"
            hx-get="/recommendation"
            hx-swap="innerHTML"
            hx-target="#movies"
        >
            Load Data
    </button>
</form>
<div class="cards-container " id="movies">
</div>

{% endblock body %}