{% extends "base.html" %} {% from '_movie_cards.jinja2' import movie_card with context %} 
{% block body %}

<div class="container h-screen" >
<div class="trust-us__container" >

{% if not is_mobile %}
    <div x-init="animateMoviesDown()" class="img-carrousel" style="overflow: hidden; position: relative; width: 15%; min-height: 100lvh;" >
        {% for movie in movies_data %}
        <!-- <img src="{{movie}}" style="position: relative; top: 0; left: 0; transform: translate(0, -100%)"> -->
        <a href="/movie/{{movie.id}}">
                <img src="{{movie.poster_path}}" class="movie-fly" id="movie-covers-down" style="position: absolute; top: 0; left: 0; transform: translate(0, -110%)">
        </a>
        {% endfor %}
    </div>
{% endif %}


<section class="search-section" >

        <form id="search-form"
        hx-get="/search"
        hx-swap="innerHTML"
        hx-target="#movies"
        class="search-form">
<input type="text" id="search-input" class="search-input" name="title" placeholder="Search movies...">
<button
        id="search-button"
        class="search-button"
        type="submit"
    >
        Load Data
</button>
</form>
<div class="cards-container " id="movies">
        {{ movie_card('', 'Movie', 'Year') }}
        {{ movie_card('', 'Movie', 'Year') }}
        {{ movie_card('', 'Movie', 'Year') }}
</div>
</section>

{% if not is_mobile %}
<div x-init="animateMoviesUp()" class="img-carrousel" style="overflow: hidden; position: relative; width: 15%; min-height: 90vh;" >
    {% for movie in movies_data[::-1] %}
    <a href="/movie/{{movie.id}}">
        <img src="{{movie.poster_path}}" class="movie-fly" id="movie-covers-up" style="position: absolute; bottom: 0; right: 0; transform: translate(0, 110%)">
    </a>
{% endfor %}
</div>
{% endif %}
</div>
</div>
<script >
    function animateMoviesDown() {
    const movieCovers = document.querySelectorAll('#movie-covers-down');

    let currentIndex = 0;
    let nextIndex = 1;

    setInterval(() => {
        movieCovers[currentIndex].style.transform = 'translate(0, 800%)';
        currentIndex = nextIndex;
        nextIndex = (nextIndex + 1) % movieCovers.length;
    }, 3000);
    }
    function animateMoviesUp() {
    const movieCovers = document.querySelectorAll('#movie-covers-up');

    let currentIndex = 0;
    let nextIndex = 1;

    setInterval(() => {
        movieCovers[currentIndex].style.transform = 'translate(0, -800%)';
        currentIndex = nextIndex;
        nextIndex = (nextIndex + 1) % movieCovers.length;
    }, 3000);
    }
</script>
{% endblock body %}
